<section class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="addUser(addeditcontent)" >
        Add User
      </button>
</section>

<table class="table"  *ngIf="userRecords && userRecords.length>0">
    <thead>
      <tr>
      
        <th scope="col">Email</th>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let record of userRecords;let i=index;">
       
        <td>{{record.email}}</td>
        <td>{{record.firstname}}</td>
        <td>{{record.lastname}}</td>
        <td><button class="btn btn-warning"  (click)="editUser(addeditcontent,record)">Edit</button>
            <button class="btn btn-danger" (click)="deleteConfirmUser(deletecontent,record)">Delete</button></td>
       
      </tr>
    </tbody>
  </table>

  <ng-template  #addeditcontent let-modal>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()"  >
      <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Please add User Information</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div><div class="modal-body">
      
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail1">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail1"
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['email'].errors}">
                    <div *ngIf="isUserFormSubmitted && userFormControls['email'].errors" class="invalid-feedback">
                     <div *ngIf="userFormControls['email'].errors['required']">email is required</div>
                     <div *ngIf="userFormControls['email'].errors['email']">Please enter valid email</div>
                     </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputEmail1">User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputusername1"
                      placeholder="Username"
                      formControlName="username"
                      [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['username'].errors}">
                      <div *ngIf="isUserFormSubmitted && userFormControls['username'].errors" class="invalid-feedback">
                       <div *ngIf="userFormControls['username'].errors['required']">username is required</div>
                       </div>
                  </div>
              </div>
            
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputPassword1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword1"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['password'].errors}">
                    <div *ngIf="isUserFormSubmitted && userFormControls['password'].errors" class="invalid-feedback">
                     <div *ngIf="userFormControls['password'].errors['required']">password is required</div>
                     </div>
                </div>
              </div>
            
          
          
            
            
            
              <div class="row g-12">
                <div class="form-group">
            

                  <div class="col-md-12 mb-12">
                    <label for="inputRole1">Role</label>
                    <select id="inputRole1" class="form-control" name="role" formControlName="role" [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['role'].errors}">
                      <option selected>Choose...</option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
        
                    </select>
                    <div *ngIf="isUserFormSubmitted && userFormControls['role'].errors" class="invalid-feedback">
                      <div *ngIf="userFormControls['role'].errors['required']">role is required</div>
                      </div>
                  </div>
            
           
                </div>
              </div> 
    </div>
    <div class="modal-footer">
          <button type="submit" class="btn btn-success" >Submit</button>
          <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </form>
  </ng-template>

  <ng-template #deletecontent let-modal>
    
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Are you sure you want to delete</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-danger"  (click)="deleteUser()">Delete</button>
        <button type="button" class="btn btn-default" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
	</div>

</ng-template>
