<div  style="margin-top:200px;margin-left:40%;" >
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-6">
    <div class="form-group col-md-4" style="margin-top:20px;">
      <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" />
    </div>
    <div class="form-group col-md-4" style="margin-top:20px;">
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
    </div>
    <button class="col-md-4" style="margin-top:20px; width:34%;" type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button><br>
    <span style="margin-left:80px"><a  href="#" routerLink="/register" class="btn btn-link">Forgot password?</a></span><br>
    <a style="margin-top:20px;margin-left:80px" href="#" routerLink="/register" class="btn btn-success">Create an Account</a>
  </form>
</div>
