<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends Book</title>
    <style>
        body {
            background-color: #eaedef; /* Replace with your desired color */
            margin: 0; /* Remove default margin for full page color */
        }
    </style>
</head>
<body style="height:max-content">
<h1 style="color: blue;">FriendsBook</h1>

<router-outlet></router-outlet>
<div style="height:300px"></div>

</body>
