<div class="container mt-5">
    <div class="row justify-content-left">
      <div class="col-md-6">
        <div class="card">
          <!-- <img src="https://placekitten.com/200/200" alt="Profile Picture" class="card-img-top"> -->
  
          <div class="card-body text-center">
            <button *ngIf="hidesettings" style="float: right;" class="btn btn-primary" (click)="edit()">Edit Profile</button><button *ngIf="hidesettings" style="float: right;" class="btn btn-success" (click)="changepassword()">Change Password</button>
            <img style="width:auto;height:350px" [src]=profilepicture>
            <h1 class="card-title">{{profilename }}{{" "}}{{lastname}}</h1>
            <p class="card-text">Username:{{username }}</p>
            <p class="card-text">email:{{ email }}</p>
          </div>
        </div>
    </div>
<ng-container *ngIf="hidesettings">
<div class="col-md-3" style="margin-left:150px;margin-top:50px" *ngIf="editcheck">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">        
                <div class="form-row">
                    <div class="form-group" *ngIf="!changepasswordcheck">
                        <label for="profilePicture">Upload New Profile Picture</label>
                        <input type="file" id="profilePicture" (change)="onFileSelected($event)">
                      </div>
                   <div class="form-group col-md-12" *ngIf="!changepasswordcheck">
                        <label for="inputfirstname1">First Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputfirstname1"
                          placeholder="firstname"
                          formControlName="firstname"
                          [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['firstname'].errors}">
                          <div *ngIf="isUserFormSubmitted && userFormControls['firstname'].errors" class="invalid-feedback">
                           <div *ngIf="userFormControls['firstname'].errors['required']">First Name is required</div>
                           </div>
                      </div>
                      <div class="form-group col-md-12" *ngIf="!changepasswordcheck">
                        <label for="inputlastname1">Last Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputlastname1"
                          placeholder="lastname"
                          formControlName="lastname"
                          [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['lastname'].errors}">
                          <div *ngIf="isUserFormSubmitted && userFormControls['lastname'].errors" class="invalid-feedback">
                           <div *ngIf="userFormControls['lastname'].errors['required']">Last Name is required</div>
                           </div>
                      </div>
                  <div class="form-group col-md-12" *ngIf="!changepasswordcheck">
                    <label for="inputEmail1">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="inputEmail1"
                      placeholder="Email"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['email'].errors}">
                      <div *ngIf="isUserFormSubmitted && userFormControls['email'].errors" class="invalid-feedback">
                       <div *ngIf="userFormControls['email'].errors['required']">email is required</div>
                       <div *ngIf="userFormControls['email'].errors['email']">Please enter valid email</div>
                       </div>
                  </div>
                  <div class="form-group col-md-12" *ngIf="!changepasswordcheck">
                      <label for="inputEmail1">User Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputusername1"
                        placeholder="Username"
                        formControlName="username"
                        [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['username'].errors}">
                        <div *ngIf="isUserFormSubmitted && userFormControls['username'].errors" class="invalid-feedback">
                         <div *ngIf="userFormControls['username'].errors['required']">username is required</div>
                         </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="changepasswordcheck">
                        <span style="color: blue;font-weight:bolder">Change your Password</span><br><br>
                        <input
                          type="password"
                          class="form-control"
                          id="inputpassword1"
                          placeholder="New Password"
                          formControlName="password"
                          [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['password'].errors}">
                          <div *ngIf="isUserFormSubmitted && userFormControls['password'].errors" class="invalid-feedback">
                           <div *ngIf="userFormControls['password'].errors['required']">Password is required</div>
                           <div *ngIf="userFormControls['password'].errors['minlength']">Password must be 6 characters</div>
                           </div>
                      </div>
                      <div class="form-group col-md-12" *ngIf="changepasswordcheck">
                        <input
                          type="password"
                          class="form-control"
                          id="inputconfirmpassword1"
                          placeholder="Confirm New Password"
                          formControlName="confirmpassword"
                          [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['confirmpassword'].errors}">
                          <div *ngIf="isUserFormSubmitted && userFormControls['confirmpassword'].errors" class="invalid-feedback">
                           <div *ngIf="userFormControls['confirmpassword'].errors['required']">Password is required</div>
                           </div>
                           <div *ngIf="passmatch" class="is-invalid">Password must be same</div>
                      </div>
                    <div class="col-md-12" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-success" >Submit</button>
                        <button style="margin-left: 20px;" type="button" class="btn btn-danger" aria-label="Close" (click)="close()">Cancel</button>
                    </div>
                </div>
                
      </div>
      <!-- <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Submit</button>
            <button type="button" class="btn btn-danger" aria-label="Close">Cancel</button>
      </div> -->
    </form>
</div>
</ng-container>
      
    </div>
  </div>
  
