<div class="container mt-5">
    <div class="row justify-content-left">
      <div class="col-md-6">
        <div class="card">
          <!-- <img src="https://placekitten.com/200/200" alt="Profile Picture" class="card-img-top"> -->

          <div class="card-body text-center">
            <img style="width:auto;height:350px" [src]=profilepicture>
            <div class="form-group">
                <label for="profilePicture">Profile Picture</label>
                <input type="file" id="profilePicture" (change)="onFileSelected($event)">
              </div>
            <h1 class="card-title">{{profilename }}{{" "}}{{lastname}}</h1>
            <p class="card-text">Username:{{username }}</p>
            <p class="card-text">email:{{ email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
