<div class="container register-container" style="height:auto">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()">
      <div class="form-group col-md-12"  >
        <input type="text" id="firstname" formControlName="firstname" class="form-control col-md-3" required placeholder="First Name"
        [ngClass]="{ 'is-invalid': isregistrationform && registrationFormControls['firstname'].errors}">
        <div *ngIf="isregistrationform && registrationFormControls['firstname'].errors" class="invalid-feedback">
         <div *ngIf="registrationFormControls['firstname'].errors['required']">first name is required</div>
        </div>
        </div>
      <div class="form-group col-md-12">
        <input type="text" id="lastname" formControlName="lastname" class="form-control" required placeholder="Last Name" 
        [ngClass]="{ 'is-invalid': isregistrationform && registrationFormControls['lastname'].errors}">
        <div *ngIf="isregistrationform && registrationFormControls['lastname'].errors" class="invalid-feedback">
         <div *ngIf="registrationFormControls['lastname'].errors['required']">last name is required</div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <input type="text" id="username" formControlName="username" class="form-control" required placeholder="Username" 
        minlength="5"
        maxlength="10"
        [ngClass]="{ 'is-invalid': isregistrationform && registrationFormControls['username'].errors}">
        <div *ngIf="isregistrationform && registrationFormControls['username'].errors" class="invalid-feedback">
         <div *ngIf="registrationFormControls['username'].errors['required']">username is required</div>
         <div *ngIf="registrationFormControls['username'].errors['minlength']">Please enter atleast 5 characters</div>
         <div *ngIf="registrationFormControls['username'].errors['maxlength']">username should not cross 10 characters</div>
         </div>

      </div>
      <div class="form-group col-md-12">
        <input type="email" id="email" formControlName="email" class="form-control" required placeholder="Email"[ngClass]="{ 'is-invalid': isregistrationform && registrationFormControls['email'].errors}">
        <div *ngIf="isregistrationform && registrationFormControls['email'].errors" class="invalid-feedback">
         <div *ngIf="registrationFormControls['email'].errors['required']">email is required</div>
         <div *ngIf="registrationFormControls['email'].errors['email']">Please enter valid email</div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <input type="password" id="password" formControlName="password" class="form-control" required placeholder="Password" [ngClass]="{ 'is-invalid': isregistrationform && registrationFormControls['password'].errors}">
        <div *ngIf="isregistrationform && registrationFormControls['password'].errors" class="invalid-feedback">
          <div *ngIf="registrationFormControls['password'].errors['minlength']">Please enter atleast 6 characters</div>
         <div *ngIf="registrationFormControls['password'].errors['required']">password is required</div>
         </div>
      </div>
      <div style="margin-top:10px;" class="col-md-6">
      <button style="width:100%" type="submit" class="btn btn-primary">Register</button><br>
      <a style="margin-right:70px" href="#" routerLink="/login" class="btn btn-link">Sign In</a>
    </div>
    </form>
  </div>
  